{%- assign emphasis = 1 -%}
 <div class="layout layout--row layout--stretch layout--center-x layout--top">
    <img class="image  image-dither image--contain" src="{{ villager.portraitUrl }}" alt="{{ villager.name }}" />
    <div class="column">
      <div class="item item--emphasis-{{ emphasis }}">
        <div class="content" data-content-limiter="true">
          <div class="title">{{ villager.name }}</div>
          <span class="description" data-clamp="10">{{ villager.biography }}</span>
        </div>
      </div>
    </div>
  </div>