{%- comment -%}
Stardew Valley Villager Card for TRMNL
Using only Framework classes with dynamic emphasis
{%- endcomment -%}
{%- assign random_index = "now" | date: "%s" | modulo: villagers.size -%}
{%- assign villager = villagers[random_index] -%}
{%- assign tip_index = "now" | date: "%s" | divided_by: 7 | modulo: tips.size -%}
{%- assign random_tip = tips[tip_index] -%}
{%- assign emphasis = 1 -%}
<div class="flex flex--col">
  <div class="title title--large">{{ villager.name }}</div>
  <img class="image layout--center-y image-dither px-10" src="{{ villager.portraitUrl }}" alt="{{ villager.name }}" />
  <div class="item item--emphasis-{{ emphasis }}">
    <div class="meta"></div>
    <div class="content">
      <span class="title title--small">🪪 Biography</span>
      <span class="description" data-clamp="5" data-content-limiter="true">{{ villager.biography }}</span>
    </div>
  </div>
  {%- assign emphasis = emphasis | plus: 1 | modulo: 3 | plus: 1 -%}

  <div class="item item--emphasis-{{ emphasis }}">
    <div class="meta"></div>
    <div class="content">
      <span class="title title--small">🎂 Birthday</span>
      <span class="description" data-clamp="5">{{ villager.birthday }}</span>
    </div>
  </div>
  {%- assign emphasis = emphasis | plus: 1 | modulo: 3 | plus: 1 -%}

  {%- if villager.location -%}
  <div class="item item--emphasis-{{ emphasis }}">
    <div class="meta"></div>
    <div class="content">
      <span class="title title--small">📍 Location</span>
      <span class="description" data-clamp="5">{{ villager.location }}</span>
    </div>
  </div>
  {%- assign emphasis = emphasis | plus: 1 | modulo: 3 | plus: 1 -%}
  {%- endif -%}

  <div class="item item--emphasis-{{ emphasis }}">
    <div class="meta"></div>
    <div class="content">
      <span class="title title--small">❤️ Loves </span>
      <span class="description" data-content-limiter="true" data-clamp="3">
        {%- for item in villager.loves -%}
        {{ item }}{%- unless forloop.last -%},&nbsp; {%- endunless -%}
        {%- endfor -%}
      </span>
    </div>
  </div>
</div>
